VITE_APP_ID=genshin-lyre-studio
VITE_FIREBASE_CONFIG={"apiKey":"","authDomain":"","projectId":"","storageBucket":"","messagingSenderId":"","appId":""}
VITE_INITIAL_AUTH_TOKEN=
VITE_CUSTOM_DOMAIN=
VITE_DEV_HOST=0.0.0.0
VITE_DEV_PORT=5173
VITE_HMR_HOST=
VITE_HMR_CLIENT_PORT=
VITE_USE_POLLING=false
